<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Cognitive X Solutions" value="http://nuget.cognitivex.com/nuget" />
  </packageSources>
  <disabledPackageSources>
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <apikeys>
    <add key="http://nuget.cognitivex.com" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAeR5z9PHwm0CT9AzOAcb/LQAAAAACAAAAAAADZgAAwAAAABAAAACB4vv1UaVurVSUjbJ9XIPxAAAAAASAAACgAAAAEAAAAGVeTNCQdkDxAJxlbJxXMLlIAAAArvjB4chmRX0vnsHtJlzD3RGk2o3wlUbZc5153fGdU3aNe3y6/9bU1tdtXoBva0GMjiPEAx/5Zizn5IQKP8dJKIbL/tpeFaZBFAAAAKIwb4+oRmJU1Z7Em/6wUiCY6Ax4" />
  </apikeys>
  <config>
    <add key="repositoryPath" value="..\packages" />
  </config>
</configuration>